<a href="https://colab.research.google.com/github/Shailesh0209/x_DataScience-PadhaiOne/blob/main/Handling_Misssing_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns

#Dealing missing data with Numpy

In [ ]:
x = np.array([1, 2, 3, 4, 5])

In [ ]:
x.sum()

In [ ]:
print(x.dtype)

In [ ]:
# let's say 4 is missing
x = np.array([1, 2, 3, '--', 5])

In [ ]:
print(x.dtype)

In [ ]:
# we cannot perform sum
x.sum()

In [ ]:
x = np.array([1, 2, 3, None, 5]) # replacing string with None

In [ ]:
x.sum() # we still cannot perform arithmetic operation

In [ ]:
# another way
x = np.array([1, 2, 3, np.nan, 5])

In [ ]:
x.sum()

In [ ]:
1 + np.nan

In [14]:
x_b = np.array([True, True, True, False, True])

In [15]:
x[x_b]

array([1., 2., 3., 5.])

In [16]:
x[x_b].mean()

2.75

In [17]:
x[x_b].sum()

11.0

In [18]:
# creating masked array
m_x = np.ma.masked_array(x, mask = [0, 0, 0, 1, 0]) # 1 mean remove that very elemen

In [21]:
m_x.sum()

11.0

In [22]:
m_x.mean()

2.75

# Handling Missing data with Pandas

In [23]:
df = pd.read_csv("rooms.csv")

In [25]:
df.head(10)

   Room_Number Num_Students  Department Occupied
0        101.0            1  Mechanical        Y
1        102.0          NaN       Empty        N
2        103.0            3  Electrical        Y
3        104.0            2  Mechanical        Y
4        105.0          NaN    Chemical        N
5          NaN            1  Electrical        Y
6        107.0            3       Civil       --
7        108.0          NaN          CS        Y
8        109.0           na  Mechanical      NaN
9        110.0            2          CS        N

In [26]:
df.dtypes

Room_Number     float64
Num_Students     object
Department       object
Occupied         object
dtype: object

In [27]:
df.describe()

       Room_Number
count     9.000000
mean    105.444444
std       3.205897
min     101.000000
25%     103.000000
50%     105.000000
75%     108.000000
max     110.000000

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Room_Number   9 non-null      float64
 1   Num_Students  7 non-null      object
 2   Department    10 non-null     object
 3   Occupied      9 non-null      object
dtypes: float64(1), object(3)
memory usage: 448.0+ bytes

In [29]:
%timeit np.arange(100000, dtype="int").sum()

The slowest run took 9.01 times longer than the fastest. This could mean that an intermediate result is being cached.
10000 loops, best of 5: 134 µs per loop

In [30]:
%timeit np.arange(100000, dtype="object").sum()

100 loops, best of 5: 4.43 ms per loop

In [31]:
df.Room_Number.isnull()

0    False
1    False
2    False
3    False
4    False
5     True
6    False
7    False
8    False
9    False
Name: Room_Number, dtype: bool

In [32]:
df.Room_Number.isnull().sum()

1

In [33]:
df.isnull()

   Room_Number  Num_Students  Department  Occupied
0        False         False       False     False
1        False          True       False     False
2        False         False       False     False
3        False         False       False     False
4        False          True       False     False
5         True         False       False     False
6        False         False       False     False
7        False          True       False     False
8        False         False       False      True
9        False         False       False     False

In [34]:
df.isnull().sum()

Room_Number     1
Num_Students    3
Department      0
Occupied        1
dtype: int64

In [35]:
missing_values = ["NA", "n/a", "na"]

In [36]:
df = pd.read_csv("rooms.csv", na_values = missing_values)

In [37]:
df.isnull()

   Room_Number  Num_Students  Department  Occupied
0        False         False       False     False
1        False          True       False     False
2        False         False       False     False
3        False         False       False     False
4        False          True       False     False
5         True         False       False     False
6        False         False       False     False
7        False          True       False     False
8        False          True       False      True
9        False         False       False     False

In [38]:
df.isnull().sum()

Room_Number     1
Num_Students    4
Department      0
Occupied        1
dtype: int64

In [39]:
df.Num_Students.sum()

12.0

In [40]:
df.Num_Students.sum()

12.0

In [41]:
missing_values = ["NA", "n/a", "na", "Empty", "--"]

In [42]:
df = pd.read_csv("rooms.csv", na_values = missing_values)

In [43]:
df.isnull()

   Room_Number  Num_Students  Department  Occupied
0        False         False       False     False
1        False          True        True     False
2        False         False       False     False
3        False         False       False     False
4        False          True       False     False
5         True         False       False     False
6        False         False       False      True
7        False          True       False     False
8        False          True       False      True
9        False         False       False     False

In [44]:
df.isnull().sum()

Room_Number     1
Num_Students    4
Department      1
Occupied        2
dtype: int64

In [46]:
df.Department.unique() # getting unique values, if there is any missing values

array(['Mechanical', nan, 'Electrical', 'Chemical', 'Civil', 'CS'],
      dtype=object)

In [47]:
df.Occupied.fillna("N")

0    Y
1    N
2    Y
3    Y
4    N
5    Y
6    N
7    Y
8    N
9    N
Name: Occupied, dtype: object

In [48]:
# constant way to fill
df.Occupied.fillna("N", inplace=True)

In [49]:
df

   Room_Number  Num_Students  Department Occupied
0        101.0           1.0  Mechanical        Y
1        102.0           NaN         NaN        N
2        103.0           3.0  Electrical        Y
3        104.0           2.0  Mechanical        Y
4        105.0           NaN    Chemical        N
5          NaN           1.0  Electrical        Y
6        107.0           3.0       Civil        N
7        108.0           NaN          CS        Y
8        109.0           NaN  Mechanical        N
9        110.0           2.0          CS        N

In [50]:
def convert_to_binary(v):
    if v == 'Y':
        return True
    else:
        return False

In [51]:
df.Occupied = df.Occupied.apply(convert_to_binary)

In [52]:
df["Dept2"] = df.Department

In [54]:
# dynamic way to fill
df.Department.fillna(method="ffill", inplace=True)
# ffill = forward fill
# we can also use method="pad"

In [55]:
df

   Room_Number  Num_Students  Department  Occupied       Dept2
0        101.0           1.0  Mechanical      True  Mechanical
1        102.0           NaN  Mechanical     False         NaN
2        103.0           3.0  Electrical      True  Electrical
3        104.0           2.0  Mechanical      True  Mechanical
4        105.0           NaN    Chemical     False    Chemical
5          NaN           1.0  Electrical      True  Electrical
6        107.0           3.0       Civil     False       Civil
7        108.0           NaN          CS      True          CS
8        109.0           NaN  Mechanical     False  Mechanical
9        110.0           2.0          CS     False          CS

In [58]:
# dynamic way to fill
df.Dept2.fillna(method="bfill", inplace=True)
# bfill = backward fill

In [57]:
df

   Room_Number  Num_Students  Department  Occupied       Dept2
0        101.0           1.0  Mechanical      True  Mechanical
1        102.0           NaN  Mechanical     False  Electrical
2        103.0           3.0  Electrical      True  Electrical
3        104.0           2.0  Mechanical      True  Mechanical
4        105.0           NaN    Chemical     False    Chemical
5          NaN           1.0  Electrical      True  Electrical
6        107.0           3.0       Civil     False       Civil
7        108.0           NaN          CS      True          CS
8        109.0           NaN  Mechanical     False  Mechanical
9        110.0           2.0          CS     False          CS

In [62]:
df.Num_Students.fillna(df.Num_Students.median(), inplace=True)
#df.Num_Students.fillna(method="median", inplace=True)

In [63]:
df

   Room_Number  Num_Students  Department  Occupied       Dept2
0        101.0           1.0  Mechanical      True  Mechanical
1        102.0           2.0  Mechanical     False  Electrical
2        103.0           3.0  Electrical      True  Electrical
3        104.0           2.0  Mechanical      True  Mechanical
4        105.0           2.0    Chemical     False    Chemical
5          NaN           1.0  Electrical      True  Electrical
6        107.0           3.0       Civil     False       Civil
7        108.0           2.0          CS      True          CS
8        109.0           2.0  Mechanical     False  Mechanical
9        110.0           2.0          CS     False          CS

In [67]:
df.Room_Number.interpolate(inplace=True)
# interpolate means filling the no. within the range

In [68]:
?interpolate()

Object `interpolate` not found.

In [69]:
df

   Room_Number  Num_Students  Department  Occupied       Dept2
0        101.0           1.0  Mechanical      True  Mechanical
1        102.0           2.0  Mechanical     False  Electrical
2        103.0           3.0  Electrical      True  Electrical
3        104.0           2.0  Mechanical      True  Mechanical
4        105.0           2.0    Chemical     False    Chemical
5        106.0           1.0  Electrical      True  Electrical
6        107.0           3.0       Civil     False       Civil
7        108.0           2.0          CS      True          CS
8        109.0           2.0  Mechanical     False  Mechanical
9        110.0           2.0          CS     False          CS