<a href="https://colab.research.google.com/github/Shailesh0209/x_DataScience-PadhaiOne/blob/main/Handling_Misssing_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns

#Dealing with missing data

In [ ]:
x = np.array([1, 2, 3, 4, 5])

In [ ]:
x.sum()

In [ ]:
print(x.dtype)

In [ ]:
# let's say 4 is missing
x = np.array([1, 2, 3, '--', 5])

In [ ]:
print(x.dtype)

In [ ]:
# we cannot perform sum
x.sum()

In [ ]:
x = np.array([1, 2, 3, None, 5]) # replacing string with None

In [ ]:
x.sum() # we still cannot perform arithmetic operation

In [ ]:
# another way
x = np.array([1, 2, 3, np.nan, 5])

In [ ]:
x.sum()

In [ ]:
1 + np.nan